# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Monorepo：所有应用和插件的 Rust 编译产物、插件分发产物
**/target/
**/gen/schemas
**/artifact/

# 工具生成的本地缓存
**/.vite/
**/.vite-temp/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.trae
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs
!.vscode/
!.vscode/settings.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.*
!.env.example

.tauri
todo.txt